
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  border-color: #00ff26;
  border-style: solid;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #00ff26;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00ffcd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00ff26;
  color: blue;
}

.logo {
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  border-style: dashed;
  max-width: 120px;
  background-color: #000000;
  color: #00ff26;
  padding: 24px;
  text-align: center;
  font-family: sans-serif;
}

.homeText p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  color: #00ff26;
  text-align: center;
  max-width: 150;
}
.homeText li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #00ff26;
  max-width: 150;
}

.project {
  border: 2px;
  border-style: solid;
  border-color: #00ff26;
}
.project h3 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  color: #00ff26;
  max-width: 250;
}
.project h4 {
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 24px;
  color: #00ff26;
}
.project p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  color: #00ff26;
  max-width: 150;
  text-align: center;
}
.project li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #00ff26;
  max-width: 150;
}

.todo {
  max-width: 300px;
  margin-top: 10px;
  border-width: medium;
  border-style: dashed;
  border-color: #00ff26;
  color: #00ff26;
  font-size: 16;
}
.todo h3 {
  margin-left: 12px;
  font-weight: bold;
}
.todo ul {
  margin-left: 12px;
}
.todo li {
  padding: 10px;
}

/* Grid Setup */
.projectGrid {
  display: grid;
  grid-gap: 5px 15px;
  border: 2px;
  border-style: solid;
  border-color: #00ff26;
}
.gridItem1 { /* for image (top-left cell) */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 45px;
}
.gridItem2 { /* for text (right of image) */
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  color: #00ff26;
}
.gridItem2 h3 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  max-width: 250;
}
.gridItem2 h4 {
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.gridItem2 p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  max-width: 150;
}
.gridItem3 {
  padding-left: 10px;
  padding-bottom: 40px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  color: #00ff26;
}
.gridItem3 h3 {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-size: 32px;
  max-width: 250;
}
.gridItem3 h4 {
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.gridItem3 p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  max-width: 150;
}
.gridItem4 {
  padding-left: 150px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gridItem5 {
  padding-top: 50px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gridItem6 {
  padding: 35px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  color: #00ff26;
}

/* Table Setup */
table {
  padding: 5px;
  border: 2px;
  border-style: solid;
  border-color: #00ff26;
}
th {
  border-width: 1px;
  border-style: solid;
  font-size: 28px;
}
tr {
  padding: 2px;
}
td {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}
.left {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px;
  border-style: solid;
  text-align: center;
  font-size: 23px;
}
.galleryImage {
  text-align: center;
}

body {
  background-color: #000000;
}
